*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{ 
  background: url(1624.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

#header .logo {
  width: 300px;
  height: auto;
  cursor: pointer;
}

#header .navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .navigation li{
  list-style: none;
  margin-left: 20px;
}

#header .navigation li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

#header .navigation li a:hover{
  background: #fff;
  color: #111;
}